body {
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    outline-style: solid;
    outline-width: thin;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #191919;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #cccccc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 150px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  margin-left: 200px;
  position: absolute;
  bottom: 540px;
  left: 750px;
  width: 200px;
  height: 100px;
}
