p {
    font-family: serif
}

.infobox {
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
}

.block {
    padding: 1%;
    padding-top: 0px;
    margin-top: 0px;
    height: 100%;
    font-family: sans-serif;
    float: left;
    width: 30%;
}

.error {
    color: red;
}

textarea {
    width: 100%;
    resize: vertical;
    overflow: visible;
}

.keyinput {
    resize: vertical;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1; 
}